* {
  font-family: 'Roboto';
  font-style: normal;
}

body {
  background: #1e1e1e;
}

main {
  background: #ffffff;
  align-items: center;
  padding: 0px 480px;
}

header {
  display: flex;
  width: 960;
  padding: 25px;
  background: #ffffff;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 600px;
  margin-bottom: 80;
}

svg {
  width: 24px;
  height: 24px;
  color: #563d7c;
}

.nav {
  display: flex;
  padding: 0px;
  gap: 24px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #343a40;
  padding: 0px;
}

section {
  width: 960px;
}

#frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  margin-bottom: 80px;
}

#frame > h2 {
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;

  color: #212529;
  margin-bottom: 0;
}

#frame > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  color: #212529;

  width: 584px;

  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

#card-deck {
  padding: 0px;
  gap: 24px;

  margin-bottom: 80px;
}

#card-deck .col-4 {
  padding: 0;
  width: 304;
}

#card-deck .col-4 .card {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

#card-deck .col-4 .card .card-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #212529;
  padding: 12px 24px;
}

#card-deck .col-4 .card .card-body {
  padding: 24px;
}

#card-deck .col-4 .card .card-body > h1 {
  text-align: center;
  padding: 0px 69px;

  font-weight: 500;
  font-size: 40px;
  color: #212529;
  margin-bottom: 24px;
}

#card-deck .col-4 .card .card-body h1 > span {
  font-weight: 400;
  font-size: 29px;
  color: #6c757d;
}

#card-deck .col-4 .card .card-body > #list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

#card-deck .col-4 .card .card-body #list > div {
  font-weight: 400;
  font-size: 16px;
  color: #212529;
}

.btn {
  width: 254px;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 4.8px;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  padding: 9px;
}

.btn:hover {
  background: #ffffff;
  border: 1px solid #007bff;
  border-radius: 4.8px;
  color: #007bff;
}

footer {
  width: 960px;
  border-top: 1px solid #dee2e6;
  padding: 24px 0px;
}

footer .row {
  padding: 0px;
  gap: 133px;
}

footer .row > .col-1 {
  padding: 0px;
}

footer .row .col-1 > div {
  width: 90;
  font-size: 12.8px;
  color: #6c757d;
}

footer .row .col-2 > h5 {
  font-weight: 500;
  font-size: 20px;
  color: #212529;
  margin-bottom: 12px;
}

footer .row .col-2 > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  color: #6c757d;
}
