:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

.page {
  background: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

.page_content {
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ======================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: var(--color-white);

  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l);
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  align-items: center;
  gap: 80px;
}

.placeholder_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.main_title {
  font-size: 36px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.main_text {
  font-size: var(--size-d);
  color: var(--color-text);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius);
}

.main_button {
  width: 100%;
  max-width: 120px;
  color: var(--color-white);
  background-color: #6c757d;
}

.featured {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--space-l);
  padding: 0 var(--space-l);
}

.card_image {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
}

.card_title {
  font-size: calc(var(--size-d) * 2);
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_text {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;
  color: var(--color-text);
}

.card_link {
  color: var(--color-primary);
}

.card_link:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  padding: var(--space-l);
  border-radius: 8px;
}

.form_content {
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  font-size: 24px;
  font-weight: var(--weight-text);
  color: var(--color-white);
  line-height: 16px;
}

.form_button {
  font-size: var(--size-l);
  padding: var(--space-xm);
  background-color: var(--color-white);
  width: 100%;
  color: var(--color-text);
  text-align: center;
}
